services:
  base_pyspark:
    build:
      context: .
      dockerfile: spark-sedona/base.dockerfile
    image: local_pyspark:Py_3.9.5_Spark_3.4.0 

  cache:
    image: redis:6.2-alpine
    container_name: becadata_redis
    ports: ["6380:6379"]
    networks: [becadata_network]

  minio:
    image: minio/minio
    container_name: becadata_minio
    ports: ["9000:9000", "9001:9001"]
    environment:
      MINIO_ROOT_USER: becadata_admin
      MINIO_ROOT_PASSWORD: becadata_storage_secret
    command: server /data --console-address ":9001"
    volumes: ["minio_data:/data"]
    networks: [becadata_network]

  broker-1:
    image: apache/kafka:latest
    container_name: becadata_broker_1
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_LISTENERS: 'PLAINTEXT://:9092,CONTROLLER://:9093,INTERNAL://:9094'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://localhost:9092,INTERNAL://broker-1:9094'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@broker-1:9093,2@broker-2:9093,3@broker-3:9093'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,INTERNAL:PLAINTEXT'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'INTERNAL'
      KAFKA_CLUSTER_ID: 'becadata-spatial-id-001'
    networks: [becadata_network]

  broker-2:
    image: apache/kafka:latest
    container_name: becadata_broker_2
    ports:
      - "9192:9092"
    environment:
      KAFKA_NODE_ID: 2
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_LISTENERS: 'PLAINTEXT://:9092,CONTROLLER://:9093,INTERNAL://:9094'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://localhost:9192,INTERNAL://broker-2:9094'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@broker-1:9093,2@broker-2:9093,3@broker-3:9093'
      KAFKA_CLUSTER_ID: 'becadata-spatial-id-001'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,INTERNAL:PLAINTEXT'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'INTERNAL'
    networks: [becadata_network]

  broker-3:
    image: apache/kafka:latest
    container_name: becadata_broker_3
    ports:
      - "9292:9092"
    environment:
      KAFKA_NODE_ID: 3
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_LISTENERS: 'PLAINTEXT://:9092,CONTROLLER://:9093,INTERNAL://:9094'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://localhost:9292,INTERNAL://broker-3:9094'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@broker-1:9093,2@broker-2:9093,3@broker-3:9093'
      KAFKA_CLUSTER_ID: 'becadata-spatial-id-001'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,INTERNAL:PLAINTEXT'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'INTERNAL'
    networks: [becadata_network]

  spark-master:
    build:
      context: .
      dockerfile: spark-sedona/geo.dockerfile
    depends_on:
      - base_pyspark
    container_name: becadata_spark_master
    volumes:
      - .:/app
    environment:
      - SPARK_MODE=master
      - SPARK_MASTER_HOST=spark-master
      - SPARK_LOCAL_HOSTNAME=spark-master
      - PYSPARK_PYTHON=python3
      - PYSPARK_DRIVER_PYTHON=python3
    command: /usr/local/lib/python3.9/site-packages/pyspark/bin/spark-class org.apache.spark.deploy.master.Master --ip spark-master
    ports:
      - "8082:8080"
      - "7077:7077"
    networks: [becadata_network]

  spark-worker:
    build:
      context: .
      dockerfile: spark-sedona/geo.dockerfile
    depends_on:
      - spark-master
    container_name: becadata_spark_worker
    volumes:
      - .:/app
    environment:
      - SPARK_WORKER_MEMORY=2G
      - SPARK_WORKER_CORES=1
      - SPARK_LOCAL_HOSTNAME=spark-worker
      - PYSPARK_PYTHON=python3
      - PYSPARK_DRIVER_PYTHON=python3
    command: /usr/local/lib/python3.9/site-packages/pyspark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    networks: [becadata_network]

  trino:
    image: trinodb/trino:latest
    container_name: becadata_trino
    ports: ["8081:8080"]
    volumes: ["./trino/catalog:/etc/trino/catalog"]
    networks: [becadata_network]

  grafana:
    image: grafana/grafana:latest
    container_name: becadata_grafana
    ports: ["3000:3000"]
    networks: [becadata_network]

networks:
  becadata_network:
    driver: bridge

volumes:
  minio_data: